<!--<article>
  <h3>Free Recharge Card for him, for you and for everyone</h3>
  <p>
    We are passionate about reducing the effect of economic reccesion on Nigerians.
    Since we know y'all need recharge card and love freebies, we'll be giving away free
    recharge cards every 3 days. peace.
  </p>
</article>-->
  
    <md-card>
      <md-card-title>
        <h3>Free Recharge Card for him, for you and for everyone</h3>
      </md-card-title>
      <md-card-content>
        <p>
          We are passionate about reducing the effect of economic reccesion on Nigerians.
          Since we know y'all need recharge card and love freebies, we'll be giving away free
          recharge cards every 3 days. peace.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary">Learn More</button>
        <button md-raised-button color="warn">Get Started</button>
      </md-card-actions>
    </md-card>
